*{
    margin: 0;
    padding: 0;
}
.app_body_header_naw{
    background-color:#042f6b;
    width: 100%;
    height:50px;
    text-align: center;
    position: relative;
}
.app_body_header_naw_title{
    margin: 9px 20px 0px 30px ;
    padding: 0px 20px;
    position: relative;
}
.app_body_header_naw_title h3{
    color: white;
    display: inline-block;
}
.app_body_header_naw_title{
    display: inline-block;
}
.app_body_header_naw_title_img{
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    display: inline-block;
}
.app_body_header_naw_list{
    display: inline-block;
} 
.app_body_header_naw_list_about{
    display: inline-block;
    margin: 0px 150px 0px 50px ;
}
.app_body_header_naw_list_about li{
        display: inline-block;
        margin-left:30px;
        margin-bottom: 15px;
}
.app_body_header_naw_list_about a{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}
.app_body_header_naw_list_search{
    display: inline-block;
    margin-left: 40px;
}
.app_body_header_naw_list > li{
    display: inline-block;
}
.app_body_header_naw_list img{
    display: inline-block;
    font-size: 30px;
    width: 28px;
    margin: 0px 10px 15px;
}
.search-submit{
    text-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width:5%;
    height: 47px;
    margin: 0 0 0 -20%;
    padding: 0;
    border: 0;
    background-color: transparent;
    position: relative;

}
.search-submit > img{
    width: 20px;
}
.app_body_header_menu_section_list li{
    display: inline-block;
    margin: 0px 15px 0px 15px;
    padding: 10px 10px 10px 0px;
}
.app_body_header_menu_section{
    background-color: black;
}
.app_body_header_menu_section_list li > a{
    text-decoration: none;
    font-size: large;
    font-style: italic;
    color: white;
}
.app_body_header_menu_section_list{
    text-align: center;
}
.search-input{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: auto;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0 34px 0 8px;
    border-radius: 0;
    border: 1px solid #ccc;
    border-color: rgba(255,255,255,.3);
    background: none transparent;
    color: #fff;
    font-size: 18px;
}
.app_body_main_corusel_section{
    margin-left:15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70%;
    height: auto;
}
.app_body_main_corusel_section_img{
    max-width: 100%;
}
.app_body_main_corusel_section{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
div{display: block;}
.app_about_carts_cart .news_title {
    margin-bottom: 5px;
    color: #13317f;
    line-height: 1.25;
    font-family: pf_din_text_cond_promedium,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.app_about_carts_cart {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 6.666px 35px;
    background-color: #fff;
    line-height: 0;
}
.app_about_carts_cart{
    position: relative;
    border: 2px solid grey;
}
.app_about_carts_cart > img{
    margin-left:1% ;
    margin-top: 1%;
    width: 98%;
    height: auto;
}
#news_carts_button_view:hover{
    background-color: cadetblue;
}
#news_carts_button_like:hover{
    background-color: rgb(0, 110, 255)!important;
}
#news_carts_button_dislike:hover{
    background-color: rgb(255, 38, 0)!important;
}
.news_carts_button{
    width: 30%;
    height: auto;
    margin-bottom: 1%;
    margin-left: 1.75%;
}
.news_carts_button > img{
    width: 30%;
    height: auto;
}
.news_title{
    margin: 1% 2%;
}
.app_body_main_carts_section{
    margin: 3%;
}
.app_body_footer{
    text-align: center;
    background-color: #042f6b;
    background-image: none;
    color: #fff;
    width: 100%;
    height: auto;
}
.app_body_footer_text > a{
    text-decoration: none;
    color: #fff;
}
.app_body_about_main{
    width: 60%;
    height: auto;
    margin:1% 20% 1% 20%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.app_body_about_main_title{
    font-size: 26px!important;
    margin: 15px 0 5px;
    color: #13317f;
    font-family: Arial,sans-serif;
    display: block;
    font-weight: bold;
}
.app_body_about_main_text{
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #333;
    display: block;
}
.app_about_body{
    margin: 0;
    padding: 0;
    font: 14px Arial,sans-serif;
    background-color: #fff;
}
.app_body_about_main_about_table{
    width: 96%;
    height: auto;
    margin: 0% 2%;
    margin-bottom: 15px;
}
.app_body_about_main_text > a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
.app_body_about_footer_links{
    float: right;
    margin-left: 20px;
    display: inline-block;
    margin-right: 20px;
}
.app_body_about_footer_desc{
    display: inline-block;
}
.app_body_about_footer{
        padding-top: 20px;
        color: #aaa;
        font-weight: 700;
        font-size: .9em;
}
.app_body_about_footer a{
    color: #aaa;
    margin-left: 15px;
    white-space: nowrap;
}
a:hover {
    color: #13317f !important;
    background-color:aquamarine;
}
.app_details_carts_cart{
    width: 66%;
    height: auto;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 15px;
}
.app_details_carts_cart_title{
    margin-left:2%;
    margin-right: 2%;
    margin-top:15px;
    margin-bottom: 15px;
    color: darkblue;
}
.app_details_carts_cart_img{
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-bottom: 15px;
}
.app_details_desc{
    width: 66%;
    height: auto;
    margin-left: 23%;
    margin-right: 21%;
    font-size: larger;
    line-height: 2;
    margin-bottom: 15px;
}
